@model ForgotPasswordViewModel
@{
    var errMsg = ViewBag.Err;
}

<div class="login-container">
    <div class="login-panel" style="text-align: center">
        <h3>Forgot your password?</h3>
        <h6 style="margin-top: -10px;">Enter your Email to get password reset link</h6>
        <div asp-validation-summary="All" style="color:red; font-size=12px;"></div>
        <form method="post" asp-action="ForgotPassword" asp-controller="Account">
            <div style=" color: red; font-size: 10px;">
                @if (!string.IsNullOrEmpty(errMsg))
                {
                    @errMsg;
                }
            </div>

            <div class="login-input">
                <span asp-validation-for="Email" style="color: red; font-size: 12px;"></span>
                <input asp-for="Email" placeholder="email" class="text-input" />
            </div>

            <button class="login-button">Submit</button>
        </form>

    </div>

</div>
