@inject UserManager<AppUser> _userManager
@inject SignInManager<AppUser> _signInManager
@{
}

<h1>Account Created Successfully!</h1>
<p>Proceed to Log in <a class="login-link" asp-action="Login" asp-controller="Account" style="color: peru;text-decoration:underline;">here</a></p>