@model ResetPasswordViewModel

@{
    var errMsgEmail = ViewBag.ErrEmail;
    var errMsgToken = ViewBag.ErrToken;

}

<div class="login-container">
    <div class="login-panel" style="text-align: center">
        <h3>Reset Password for @Model.Email</h3>

        <form method="post" asp-action="ResetPassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
             <div style=" color: red; font-size: 10px;">
                @if (!string.IsNullOrEmpty(errMsgEmail))
                {
                    @errMsgEmail;
                }
                @if (!string.IsNullOrEmpty(errMsgToken))
                {
                    @errMsgToken
                    ;
                }
            </div>

           
            <div>
                <span asp-validation-for="Email" style="color: red; font-size: 12px;"></span>
                <input asp-for="Email" class="text-input" hidden/>
            </div>


            <div>
                <span asp-validation-for="Token" style="color: red; font-size: 12px;"></span>
                <input asp-for="Token" class="text-input" hidden/>
            </div>

            <div class="login-input">
                <span asp-validation-for="Password" style="color: red; font-size: 12px;"></span>
                <input asp-for="Password" placeholder="new password" class="text-input" type="password" />
            </div>

            <div class="login-input">
                <span asp-validation-for="ConfirmPassword" style="color: red; font-size: 12px;"></span>
                <input asp-for="ConfirmPassword" placeholder="confirm password" class="text-input" type="password" />
            </div>
          
            <button class="login-button">Submit</button>
        </form>
    </div>

</div>
