@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ReadAddict Online Book Library</h1>
    <p>Enjoy the thrilling effect of books in different categories. Browse through your preffered choice, Enjoy!</p>
</div>
